{% extends 'base.html' %}
{% block content %}

<h1>Category - {{ cats }}</h1>
<hr>

{% if category_posts %}

{% for post in category_posts %}

<div>
    <a href="{% url 'article_detail' post.pk %}" style="text-decoration: none;">
        <h3>{{ post.title }} </h3>
    </a>
    <small >-{{ post.category }} ,
        By -{{ post.author }}
        {{ post.post_date }} </small>

</div>

    {{ post.snippet|safe}}

    {% if user.is_authenticated and user.id == post.author.id  %}


    <small><a href=" {% url 'update_post' post.pk %} "> Edit </a> </small>
    <small><a href=" {% url 'delete_post' post.pk %} "> Delete </a> </small>

    {% endif %}
    <br />
    <br />

    {% endfor %}
    </ul>

{% else %} 
NOT HAVE  ANY POST OF THIS CATEGORY

{% endif %}

    {% endblock %}